.explore {
    padding-top: 130px;
    padding-bottom: 890px;
    background: url(../icons/boy.png) no-repeat center / cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    .explore-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        &__title {
            color: rgb(1, 10, 32);
            font-family: 'DM Sans';
            font-size: 50px;
            font-weight: 700;
            line-height: 150%;
            @media (max-width: 1200px) {
                & {
                    color: rgb(1, 10, 32);
                    font-family: 'DM Sans';
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 46px;
                    text-align: center;
                    width: 314px;
                }
            }
        }
        .gallery {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 45px;
            .gallery-content {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 30px;
                .slide {
                    display: flex;
                    gap: 0;
                }
                .slide-right {
                    padding-right: 65px;
                }
                .slide-left {
                    padding-left: 65px;
                }
            }
            .slider-default {
                margin-top: 30px;
            }
        }
    }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .explore {
    background: url('../icons/boy@2x.png') no-repeat center / cover;
  }
}