.hero {
    padding-top: 140px;
    .slider-hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 70px;
        @media (max-width: 1200px) {
            & {
                display: none;
            }
        }
        &__item {
            transform: rotate(-90.00deg);
            color: rgb(255, 255, 255);
            font-family: 'DM Sans';
            font-size: 16px;
            font-weight: 700;
            line-height: 21px;
            margin-top: 20px;
        }
    }
    .hero-content {
        display: flex;
        align-items: center;
        gap: 200px;
        @media (max-width: 1200px) {
            & {
                display: flex;
                justify-content: center;
                gap: 10px;
            }
        }
        .hero-description {
            &__title {
                color: rgb(255, 255, 255);
                font-family: 'Roboto';
                font-size: 120px;
                font-weight: 900;
                line-height: 130px;
                text-transform: uppercase;
                width: 627px;
                @media (max-width: 1200px) {
                    & {
                        color: rgb(255, 255, 255);
                        font-family: 'Roboto';
                        font-size: 58.15px;
                        font-weight: 900;
                        line-height: 63px;
                        text-transform: uppercase;
                        width: 300px;
                    }
                }
            }
            &__button {
                border-radius: 211px;
                background: rgb(221, 34, 66);
                border: none;
                padding: 20px 45px;
                color: rgba(255, 255, 255, 0.8);
                font-family: 'DM Sans';
                font-size: 20px;
                font-weight: 700;
                line-height: 150%;
                transition: color 0.3s ease;
                @media (max-width: 1200px) {
                    & {
                        padding: 20px 70px;
                    }
                }
                &:hover {
                    color: darkblue;
                    cursor: pointer;
                }
            }
        }
        
    }
}