.hils {
    background: url(../icons/left.png) no-repeat left / cover, 
    url(../icons/right.png) no-repeat right / cover;
    padding-top: 250px;
    padding-bottom: 250px;
    @media (max-width: 1200px) {
        & {
            background-image: url('../icons/top.png'), url('../icons/bottom.png');
            background-repeat: no-repeat, no-repeat;
            background-position: top center, bottom center;
            background-size: cover, cover;
            // background: url('../icons/top.png') no-repeat top center / cover, 
            // url('../icons/bottom.png') no-repeat bottom center / cover;
            padding-top: 120px;
            padding-bottom: 120px;
        }
    }
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
        background-image: url('../icons/top@2x.png'), url('../icons/bottom@2x.png');
            background-repeat: no-repeat, no-repeat;
            background-position: top center, bottom center;
            background-size: cover, cover;
    //   background: url('../icons/top@2x.png') no-repeat top center / cover, url('../icons/bottom@2x.png') no-repeat bottom center / cover;
    }
  }
    .hils-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 35px;
        &__title {
            color: rgb(0, 0, 0);
            font-family: 'DM Sans';
            font-size: 42px;
            font-weight: 700;
            line-height: 50px;
            letter-spacing: 0px;
            text-align: center;
            width: 614px;
            @media (max-width: 1200px) {
                & {
                    width: 314px;
                    color: rgb(0, 0, 0);
                    font-family: 'DM Sans';
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 46px;
                    text-align: center;
                }
            }
        }
        &__item {
            width: 470px;
            color: rgb(111, 119, 135);
            font-family: 'DM Sans';
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0.5px;
            text-align: center;
            @media (max-width: 1200px) {
                color: rgb(111, 119, 135);
                font-family: 'DM Sans';
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0.5px;
                text-align: center;
                width: 314px;
            }
        }
        &__button {
            color: rgb(255, 255, 255);
            font-family: 'DM Sans';
            font-size: 18px;
            font-weight: 700;
            line-height: 150%;
            padding: 20px 50px;
            border-radius: 122px;
            background-color: rgb(221, 34, 66);
            border: none;
            transition: color 0.3s ease;
            @media (max-width: 1200px) {
                & {
                    padding: 20px 70px;
                }
            }
            &:hover {
                cursor: pointer;
                color: black;
            }
        }
    }
}