.numbers {
    background-color: #020C21;
    padding-top: 200px;
    padding-bottom: 225px;
    @media (max-width: 1200px) {
        & {
            padding-top: 70px;
            padding-bottom: 70px;
        }
    }
    .numbers-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        &__title {
            color: rgb(255, 255, 255);
            font-family: 'DM Sans';
            font-size: 60px;
            font-weight: 700;
            line-height: 150%;
            @media (max-width: 1200px) {
                & {
                    width: 314px;
                    color: rgb(255, 255, 255);
                    font-family: 'DM Sans';
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 46px;
                    text-align: center;
                }
            }
        }
        &__item {
            color: rgb(224, 224, 224);
            font-family: 'DM Sans';
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0.5px;
            width: 484px;
            text-align: center;
            @media (max-width: 1200px) {
                & {
                    color: rgb(224, 224, 224);
                    font-family: 'DM Sans';
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0.5px;
                    text-align: center;
                    width: 314px;
                }
            }
        }
        .numbers-cards {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 115px;
            @media (max-width: 1200px) {
                & {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 45px;
                }
            }
            .number-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                @media (max-width: 1200px) {
                    & {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 10px;
                    }
                }
                &__title {
                    color: rgb(221, 34, 66);
                    font-family: 'DM Sans';
                    font-size: 42.14px;
                    font-weight: 700;
                    line-height: 49.16px;
                    letter-spacing: 0.39px;
                    @media (max-width: 1200px) {
                        & {
                            color: rgb(221, 34, 66);
                            font-family: 'DM Sans';
                            font-size: 40px;
                            font-weight: 700;
                            line-height: 46px;
                        }
                    }
                }
                &__item {
                    color: rgb(224, 224, 224);
                    font-family: 'DM Sans';
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 28px;
                    letter-spacing: 0.5px;
                    width: 320px;
                    text-align: center;
                    @media (max-width: 1200px) {
                        & {
                            width: 314px;
                            color: rgb(224, 224, 224);
                            font-family: 'DM Sans';
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0.5px;
                            text-align: center;
                        }
                    }
                }
                .two {
                    width: 320px;
                }
            }
        }
    }
}