.footer {
    background-color: rgb(1, 10, 32);
    padding-top: 60px;
    padding-bottom: 50px;
    @media (max-width: 1200px) {
        & {
            padding: 0px;
        }
    }
    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        @media (max-width: 1200px) {
            & {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 155px;
                padding-bottom: 85px;
            }
        }
        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            .logo-text {
                width: 128px;
                color: rgb(221, 34, 66);
                font-family: 'Roboto';
                font-size: 23.96px;
                font-weight: 900;
                line-height: 90.5%;
                letter-spacing: 0.32px;
                text-transform: uppercase;
                &__indonesia {
                    color: white;
                }
            }
        }
        .footer-bar {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 35px;
            @media (max-width: 1200px) {
                & {
                    flex-direction: column;
                    align-items: center;
                    padding-top: 35px;
                }
            }
            &__item {
                color: rgb(255, 255, 255);
                font-family: 'DM Sans';
                font-size: 18px;
                font-weight: 700;
                line-height: 28px;
                letter-spacing: 0.5px;
                text-decoration: none;
                transition: color 0.3s ease;
                &:hover {
                    cursor: pointer;
                    color: rgb(221, 34, 66);
                }
            }
        }
        .socials {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 35px;
            @media (max-width: 1200px) {
                & {
                    padding-top: 35px;
                }
            }
        }
        .copyright {
            color: rgb(255, 255, 255);
            font-family: 'DM Sans';
            font-size: 18px;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: 0.5px;
            @media (max-width: 1200px) {
                & {
                    padding-top: 35px;
                }
            }
        }
        .to-hight {
            position: absolute;
            right: -30px;
            bottom: 35px;
            @media (max-width: 1200px) {
                & {
                    top: -55px;
                    right: 95px;
                }
            }
        }
    }
}